:root {
    --main-color: #468f57;
    --txt-color: #333;
    --line-height: 30px;
    --s-txt-color: #71777d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.img3 {
    object-fit: cover;
}

.carousel {
    width: 100%;
    height: 300px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.carousel img.img3 {
    width: 30.33%;
    height: 100%;
    display: inline-block;
    transition: transform 0.5s ease-in-out;
}

.hidden {
    display: none;
}

.wrap {
    text-align: center;
    margin: auto;
    width: 1440px;
    max-width: 90%;
}

a {
    font: inherit;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

/*搜索*/
#searchForm {
    border-radius: 50px;
    float: left;
    margin: 5px auto;
    display: flex;
}

.searchfrom {
    display: flex;
    background-color: #ffffff;
    border-radius: 50px;
}

.seatext {
    font-size: 14px;
    width: 100%;
}

#searchInput {
    border: none;
    border-radius: 50px;
    font-size: 14px;
    width: 100%;
    padding: 5px;
    outline: none;
    /*去除默认轮廓效果*/
}

#searchForm button {
    margin-right: 5px;
    font-size: 20px;
    all: unset;
    cursor: pointer;
    text-align: center;
    border-color: #ffffff;
    height: 100%;
}

.nav-head {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.308);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
}

.nav-head a {
    color: white;
    margin: 0 15px;
    font-size: 20px;
    text-decoration: none;
    position: relative;

}

.n1 {
    margin-left: 50%;
}

.navA::before {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.navA:hover::before {
    width: 100%;
}

#nav1 {
    margin-top: -50px;
    display: flex;
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

#nav2 {
    display: flex;
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    gap: 120px;
    flex-direction: row-reverse;
}

#nav3 {
    display: flex;
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

#nav4 {
    display: flex;
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-direction: row-reverse;
}

.box1 {
    margin-top: 30px;
    height: 600px;
    /*width: 150px;*/
    background-color: #5da64a;
    text-align: center;
    color: #fff;
    margin-left: 80px;
}

.box2 {
    margin-top: 30px;
    height: 600px;
    /*width: 150px;*/
    background-color: #5da64a;
    text-align: center;
    color: #fff;

}

.box3 {
    margin-top: 30px;
    height: 600px;
    /*width: 150px;*/
    background-color: #5da64a;
    text-align: center;
    color: #fff;
    margin-left: 80px;
}

.box4 {
    margin-top: 30px;
    height: 600px;
    /*width: 150px;*/
    background-color: #5da64a;
    text-align: center;
    color: #fff;

}

.more a {
    font-size: 14px;
}

.header-one {
    height: 60px;
    background-color: var(--main-color);
    font-size: 20px;
    line-height: 60px;
}

.nav {
    width: 150px;
    margin: 10px 5px;
    margin-bottom: 0;
}

.nav-list h2 {
    height: 165px;
    position: relative;
    padding: 70px 55px;
    background-color: #5da64a;
    transition: background-color 0.3s, color 0.2s;
    font-size: 20px;
}

.nav-list-a h2 {
    height: 165px;
    position: relative;
    padding: 50px 40px;
    background-color: #5da64a;
    transition: background-color 0.3s, color 0.2s;
    font-size: 20px;
}

.nav button {
    margin-top: 0;
    border: none;
    background-size: 200%;
    background: none;
    outline: none;
    text-transform: capitalize;
    transition: 0.4s;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    list-style: none;
}

.nav-list-a button {
    margin-top: 0;
    border: none;
    background-size: 200%;
    background: none;
    outline: none;
    text-transform: capitalize;
    transition: 0.4s;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.nav-list h2:hover {
    background-color: #b4d0a5;
    color: #ffffff;
}

.nav-list-a h2:hover {
    background-color: #b4d0a5;
    color: #ffffff;
}

/* .nav-list button:hover {
    color: #000;
} */

.nav-list-a h2.on {
    background-color: #393c4a;
}

/* .nav-list-a button:hover {
    color: #000;
} */

.nav-list h2.on {
    background-color: #393c4a;
}

.more {
    padding: 7px 0;
}

.more a:hover {
    color: #000;
}

.nav-list i {
    position: absolute;
    right: 10px;
    top: 80px;
    border: 8px solid transparent;
    border-left-color: #fff;
    transform-origin: 1px 7px;
    /*设置小三角旋转基点*/
    transition: .8s;
    /*旋转过渡时间*/
}

.nav-list i.on {
    transform: rotate(90deg);
}

.nav-list-a i {
    position: absolute;
    right: 10px;
    top: 80px;
    border: 8px solid transparent;
    border-left-color: #fff;
    transform-origin: 1px 7px;
    /*设置小三角旋转基点*/
    transition: .8s;
    /*旋转过渡时间*/
}

.nav-list-a i.on {
    transform: rotate(90deg);
}

/*nav-two*/
.nav-one {
    width: 150px;
    margin: 10px 5px;
    margin-bottom: 0;
}

.nav-list-one h2 {
    height: 165px;
    position: relative;
    padding: 70px 40px;
    background-color: #5da64a;
    transition: background-color 0.3s, color 0.2s;
    font-size: 20px;
}

.nav-list-b h2 {
    position: relative;
    padding: 60px 40px;
    background-color: #5da64a;
    transition: background-color 0.3s, color 0.2s;
    font-size: 20px;
    margin-bottom: 20px;
}

.nav-list-one button {
    margin-top: 0;
    border: none;
    background-size: 200%;
    background: none;
    outline: none;
    text-transform: capitalize;
    transition: 0.4s;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.nav-one button {
    margin-top: 0;
    border: none;
    background-size: 200%;
    background: none;
    outline: none;
    text-transform: capitalize;
    transition: 0.4s;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.nav-list-one h2:hover {
    background-color: #b4d0a5;
}

.nav-list-b h2:hover {
    background-color: #b4d0a5;

}

.nav-list-one button:hover {
    color: #000;
}

.nav-list-b h2.on {
    background-color: #393c4a;
}

/* .nav-list-b button:hover {
    color: var(--main-color);
} */

.nav-list-one h2.on {
    background-color: #393c4a;
}

.nav-list-b a {
    line-height: var(--line-height);
    font-size: 14px;
    font-weight: normal;
}

.nav-list-b a:hover {
    color: #000;
}

.nav-list-one i {
    position: absolute;
    right: 10px;
    top: 80px;
    border: 8px solid transparent;
    border-left-color: #fff;
    transform-origin: 1px 7px;
    /*设置小三角旋转基点*/
    transition: .8s;
    /*旋转过渡时间*/
}

.nav-list-one i.on {
    transform: rotate(90deg);
}

.nav-list-b i {
    position: absolute;
    right: 10px;
    top: 80px;
    border: 8px solid transparent;
    border-left-color: #fff;
    transform-origin: 1px 7px;
    /*设置小三角旋转基点*/
    transition: .8s;
    /*旋转过渡时间*/
}

.nav-list-b i.on {
    transform: rotate(90deg);
}

.iframe-container {
    min-width: 750px;
    width: 750px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#iframe {
    width: 100%;
    height: 630px;
    border: none;
}

#iframe-A {
    width: 100%;
    height: 630px;
    border: none;
}

#iframe-B {
    width: 100%;
    height: 630px;
    border: none;
}

#iframe-C {
    width: 100%;
    height: 630px;
    border: none;
}

.iframe-container2 {
    min-width: 700px;
    width: 700px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.iframe-container3 {
    min-width: 750px;
    width: 750px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.table-one::-webkit-scrollbar {
    width: 6px;
}

.big:target::-webkit-slider-thumb {
    border-image: linear-gradient(#0af, #0ac);
}

.table-one:has(+.cont #nav-1:target).nav-1 {
    border-bottom: 2px solid #fff;
}

.table-one:has(+.cont #nav-2:target).nav-2 {
    border-bottom: 2px solid #fff;
}

.table-one:has(+.cont #nav-3:target).nav-3 {
    border-bottom: 2px solid #fff;
}

.grid {
    display: grid;
    height: 560px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #f3f4f5;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 2em;
    text-align: justify;
    width: 750px;
}

.left {
    color: #000;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

.right {
    color: #000;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
}

.item {
    color: #000;
    border-bottom: 2px dotted #007931;
}

.shield {
    float: left;
}

.A {
    border-right: 1px solid #007931;
}

/*返回*/
.back_button {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 25px;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 15%;
    text-align: center;
    background-color: var(--main-color);
    /* box-shadow: 10px 10px 5px #888888; */
}

.back_button:hover {
    background-color: #bddac7;
}

.back_button a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

/*版权信息*/
.footer {
    color: #fff;
    box-sizing: border-box;
    background: #242825;
}

.list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 50px;
    margin: auto;
    max-width: 1224px;
    text-align: center;
}

dt {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}

dd {
    line-height: 40px;
    font-size: 16px;
}

.connect {
    display: flex;
    justify-content: center;
    align-items: center;
}

.connect .iconfont {
    font-size: 25px;
    margin-right: 10px;
}

.span-txt {
    font-size: 20px;
}

.banquan {
    max-width: 1224px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px;
    line-height: var(--line-height);
    font-size: 16px;
    border-top: 1px solid #838383;
    border-bottom: 1px solid #838383;
    color: #838383;
    text-indent: 2em;
    text-align: left;
}

.name-banquan {
    max-width: 1224px;
    margin: auto;
    padding-bottom: 30px;
    color: #838383;
    text-align: center;
    font-size: 16px;
}