:root {
    --lh: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 18px;
}


p {
    text-align: justify;
    text-indent: 2em;
}

p::selection {
    background-color: #f40;
    color: #fff;
}


.iconfont {
    color: #f40;
    font-size: 20px;
}

img{
    display: flex;
    margin: auto;
    width: 1200px;
    object-fit: cover;
}

.image{
    text-align: center;
    
    object-fit: cover;
}
/* init end */
/* custom */
.news {
    width: 100%;
    max-width: 1200px;
    columns: 240px 2;
    line-height: var(--lh);
    /* block center */
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 10px;
}

.header {
    column-span: all;
    text-align: center;
    margin-bottom: var(--lh);
    /* overflow: hidden; */
}

.title {
    margin-bottom: var(--lh);
    margin: 0 auto;
    text-align: center;
}

.abstract {
    text-indent: 2em;
    text-align: justify;
}

.chap {
    margin-top: var(--lh);
    margin-bottom: var(--lh);
}

.sect {
    margin-top: var(--lh);
    margin-bottom: var(--lh);
}

.footer {
    text-align: right;
    color: rgb(86, 86, 86);
}
.footer a{
    
    color: #f40;
}