@font-face {
  font-family: "iconfont"; /* Project id 4709138 */
  src: url('iconfont.woff2?t=1733101978291') format('woff2'),
       url('iconfont.woff?t=1733101978291') format('woff'),
       url('iconfont.ttf?t=1733101978291') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-news-filling:before {
  content: "\e68a";
}

.icon-jisuanqi:before {
  content: "\e63f";
}

.icon-gouwuche:before {
  content: "\e601";
}

.icon-sousuo:before {
  content: "\e60b";
}

.icon-arrowTop:before {
  content: "\e65d";
}

.icon-edit:before {
  content: "\e608";
}

.icon-file-description:before {
  content: "\e609";
}

.icon-globe-outline:before {
  content: "\e60a";
}

.icon-user:before {
  content: "\e611";
}

.icon-huanbaoshequ:before {
  content: "\e71c";
}

.icon-shengtaiyanjiu:before {
  content: "\e71e";
}

.icon-shengtaidiqiu:before {
  content: "\e71d";
}

.icon-huanbaojilu:before {
  content: "\e71b";
}

.icon-shilishuliang:before {
  content: "\e6db";
}

.icon-arrup:before {
  content: "\e600";
}

.icon-dibudaohanglan-:before {
  content: "\e62d";
}

.icon-icon_zuo:before {
  content: "\e64a";
}

.icon-guojizuzhi:before {
  content: "\e702";
}

.icon-a-guojizuzhi2:before {
  content: "\e634";
}

.icon-guojizuzhi1:before {
  content: "\e787";
}

.icon-guojizuzhi2:before {
  content: "\e64e";
}

.icon-shejiwenzhang:before {
  content: "\e607";
}

.icon-standard_code:before {
  content: "\e6fe";
}

.icon-wenzhang:before {
  content: "\e67d";
}

.icon-wenzhangfenlei:before {
  content: "\e633";
}

.icon-xiezhu:before {
  content: "\e603";
}

.icon-shipin:before {
  content: "\e61e";
}

.icon-shipin1:before {
  content: "\e618";
}

.icon-16:before {
  content: "\e615";
}

.icon-fuwuzhichi:before {
  content: "\e726";
}

.icon-falvzhengceheguixingpinggu:before {
  content: "\e7a1";
}

.icon-arrow-double-right:before {
  content: "\e665";
}

